# General
SWfontSize 15
localWindowClient true

# SQL
sql_enable true
sql_lazy false
sql_getAddresses true
sql_updateAddresses false
sql_updateTime 10000
sql_key I can do what I want. Ron

# SQL custom connection
sql_custom false
sql_address 
sql_database 
sql_username 
sql_password 

# Ping Information
nmap false
pingTimeOutTime 1000
pingingThreadCount 10

# Local Java Server
ljs_enable false
